body{background: #000000;padding-top: 150px;cursor: text;}
.legend{color:#ffffff;text-align: center;font-size: 26px; font-family: serif;z-index: 1000}
.mottohead{color:#ffffff;text-align: center;font-size: 30px;margin-top: 15px;}
.line{border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #0C63B3;}
.line2{border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #ffffff;}
.await{color: #960060;font-family:Lucid;font-size: 38px;text-align: center;}
.marginTop10{margin-top: 10px;}
.image{text-align: center;width: 80%;height: 45%;}
/*.cover 
{  background: url(../images/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover:hover
  {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../images/bg3.jpg");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../images/bg3.jpg");
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../images/bg3.jpg");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../images/bg3.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))), url("../images/bg3.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../images/bg3.jpg");
  }*/