body{background: #000000;padding-top: 150px;cursor: text;font-family: 'Oswald', sans-serif;}
.bgCover{url('images/hero-bg.png');}
.legend{color:#ffffff;text-align: center;font-size: 16px;z-index: 1000}
.mottohead{color:#ffffff;text-align: center;font-size: 30px;margin-top: 15px;}
.line{border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #0C63B3;}
.line2{border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #ffffff;}
.await{color: #960060;font-family:Lucid;font-size: 38px;text-align: center;}
.marginTop10{margin-top: 10px;}
.image{text-align: center;width: 80%;height: 45%;}
.cover 
{  background: url(../images/road.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.typewriter{
  background: #000000;
  padding: 20px;
  opacity: .9;
}